<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebApiBaseAddress" value="http://northwind-1.apphb.com"/>
  </appSettings>
  <system.net>
<!--    <defaultProxy enabled="true" useDefaultCredentials="true">-->
<!--      <proxy usesystemdefault="True" />-->
<!--    </defaultProxy>-->
  </system.net>

</configuration>